<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titulo %} {% endblock  %}</title>
    {% load static %}
	<link rel="STYLESHEET"  href="{%static 'core/css/menuUniverso.css'%}">
    <link rel="STYLESHEET"  href="{%static 'core/css/estilos.css'%}">


</head>
<body>
<h1> LECCION DE PROGRAMACION VISUAL  </h1>
<div class="nav">
  <nav class="menuCSS3">
		<ul>
			<li><a href="{% url 'core' %}">INICIO</a></li>
			<li><a href="{% url 'inicio' %}">COMPU_MOVILES</a></li>
			<li><a href="{% url 'quienes_somos' %}">QUIENES_SOMOS</a></li>
			<li><a href="{% url 'nuestro_producto' %}">NUESTRO_PRODUCTO</a></li>
			<li><a href="{% url 'contacto' %}">CONTACTO</a></li>
			<li><a href="{% url 'blog' %}">BLOG</a></li>
			<li><a href="{% url 'quienes_somosh' %}">QUIENESSOMOSH</a></li>

		</ul>
	</nav>
</div>
{% block contenido %} {% endblock %}
