{% extends 'herencias/computadora.html' %}
{% block titulo %}
PC_COMPUTADORA MOVILES
{% endblock %}
{% block contenido  %}
{% load static %}
<center>
    <h4>PAGINA INICIAL  PC_COMPUTADORA & MOVILES</h4>
    <h3> Pc computadora & Moviles., (Sistemas y Programas) empresa dedicada a la venta de productos Tecnologico y servicios informáticos con los más altos estándares de calidad a precios muy competitivos, nuestra empresa iniciada en el año 2018 nos ha dado hasta ahora más de 4 años de experiencia en el mercado Ecuatoriano con lo cual podemos contar con una atención al cliente muy personalizada; atendiendo las necesidades de los Ecuatorianos, ofreciéndoles acceso a tecnología de punta, contamos con las mejores marcas del mercado internacional brindado de esta manera un producto y servicio de excelencia y con garantía real.</h3>
<IMG src="{% static 'core/imagen_jose/apple.jpg' %}">
    </center>
<h4>ESTAMOS EN LA PAGINA PC_COMPUTADORA & MOVILES</h4>
{% endblock %}