<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACOSTA JOSE</title>
    {% load static %}
    <link rel="STYLESHEET"  href="{%static 'core/css/estilos.css'%}">
	<link rel="STYLESHEET"  href="{%static 'core/css/menuUniverso.css'%}">


</head>
<body>
<h1> ACOSTA JOSE 3/E  </h1>
<div class="nav">
  <nav class="menuCSS3">
		<ul>
			<li><a href="{% url 'core' %}">INICIO</a></li>
			<li><a href="{% url 'noticias' %}">NOTICIAS</a></li>
			<li><a href="{% url 'deportes' %}">DEPORTES</a></li>
			<li><a href="{% url 'inicio' %}">COMPU_MOVILES</a></li>
			</li>
		</ul>
	</nav>
</div>
<IMG src="{% static 'core/imagen_jose/sp.jpg' %}">
<FOOTER class="fotter">
	SISTEMA CON DJANGO 3E DERECHOS RESERVADOS
</FOOTER>
</body>
</html>