.menuCSS3 ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.menuCSS3 a {
		display: block;
		padding: 2em;
		background-color: #21886f;
		text-decoration: none;
		color: #f6f6f6;
		font-size : 17pt;
	}
	.menuCSS3 a:hover {
		background-color: #d7cac5;
	}
	.menuCSS3 ul li ul {
		display: none;
	}

	.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover
		display: block;




.nav{
  width: 960px;
  
  text-align:center;
  margin: 0 auto;
}
footer{
	wwidth:800px;
	text-align: center;
	margin: 0 auto;
	background-color: #19c07a;
}

